*project/
*project/*
*project
Chap*/project/
Chap*/project/*
Chap*/project

project/*
project

project/.boot/
project/.boot/*

project/.sbtboot/
project/.sbtboot/*

project/.ivy/*
project/.ivy/

project/target
project/target/*

project/project/*
project/project/



target
target/*

.idea
.idea/
.idea/*

.history
.bsp/


.metadata
.cache-main
.classpath
.project
.settings
*.class
*.orig
*.log

.DS_Store
*.iml
scalastyle-output.xml
